<article>
<h1>About</h1>
<p>
  Ever want to subscribe to a podcast on any other podcast client than
  itunes?  Well most folks forget to publish that url.  This solves that
  little problem.
</p>
</article>
