
<form action="/" method="post" id="form">
  <label for="url">iTunes Podcast Url or Id</label>
  <input id="url" type="text" name="feed[url]" value="<%= params[:url ] %>">
  <button>Find podcast url</button>
</form>

<h2 id="feed_url"><%= @feed.feed_url if @feed%></h2>
